@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
}

section {
    margin-top: 10rem;
}

.top {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}

.image {
    width: 50%;
    max-width: 500px;
    height: auto;
}

h1 {
    padding-bottom: 1rem;
}

p {
    font-size: 18px;
}

.welcome {
    width: 50%;
    max-width: 550px;
    height: auto;
    margin-right: 3rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.welcome h1 {
    color: #101046;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li {
    margin-left: 1rem;
}

img {
    width: 100%;
}

/*  */
.cards-container {
	display: flex;
	justify-content: center;
	gap: 20px; /* space between cards */
	margin-top: 50px;
    padding-bottom: 5rem;
}

.flip-container {
	width: 300px;
	height: 300px;
	perspective: 1000px;
}

.flipper {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.7s;
	transform-style: preserve-3d;
    text-align: center;
}

.flip-container:hover .flipper {
	transform: rotateY(180deg);
}

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.front {
	background: #0079a5;
}

.back {
	background: #6bbe44;
	transform: rotateY(180deg);
}

.teamCon {
    max-width: 1000px;
    margin: 0 auto 0;
    padding-bottom: 3rem;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team img{
    width: auto;
    height: 100%;
}

.team span {
    width: 200px;
    height: 200px;
    margin-top: 0.2rem;
}

.team1 {
    background-image: url("./assets/img/Team1.png");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.team .team-title {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    background-color: #0000006B;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
}

.team-title h3{
    font-weight: 500;
}

.team2 {
    background-image: url("./assets/img/Team2.png");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.team3 {
    background-image: url("./assets/img/Team3.png");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.team4 {
    background-image: url("./assets/img/Team4.png");
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 567px) {
    section {
        margin-top: 0;
    }

    .welcome {
        width: 90%;
        margin: 0 0.5rem;
        padding-bottom: 3rem;
    }

    .image {
        width: 90%;
        margin: 0 auto 0;
    }

    .image img {
        border-radius: 5px;
    }

    .top {
        display: block;
    }

    .cards-container {
        display: block;
        padding-bottom: 0;
        gap: 10px;
    }

    .flip-container {
        width: 115px;
    }

    .front, .back {
        font-size: 0.75rem;
    }

    section .teamCon {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team {
        display: block;
    }

    .team span {
        margin-top: 0.5rem;
    }

    .flip-container {
        width: 230px;
        margin: 0 auto 0;
        margin-bottom: 1rem;
    }

}